/* style.css
 * This file provides css styles.
 */
body {
	padding: 20px 60px 20px 60px;
}



#map {
	width: 90%;
	height: 419px;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 3em;
}

.transportAPIquery {
	clear: both;
	padding-bottom: 10px;
}

.heading {
	text-align: center;
	padding-bottom: 60px;
}

.jsonresponse {
	margin-top: 4em;
	

}

code {
	max-height: 40em;
	max-width: 100%;
}

.osrow {
	margin-top: 50px;
}

.apitransport {
	background-color: #e6f2ff;
	padding: 20px;
}

.apiweather {
	padding: 20px;
	background-color: #e6ffe6;
	height: 733px;
	
}

.oscol {
	background-color: #ffffe6;
	padding: 20px;
}

.toprow {
	text-align: center;
}

.osrow {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 5em;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#footer {
	text-align: center;
}